.social-icon .logo {
  @apply transition-all fill-primary-refi;
}

.dark .social-icon .logo {
  fill: #0f172a; /* gray-900 */
}

.social-icon:hover .logo {
  fill: #fff; /* gray-900 */
  transform-origin: center;
  transform: scale(1.05);
}

.social-icon .bg {
  fill: #fff;

  @apply transition-all;
}

.dark .social-icon:hover .logo {
  fill: #fff;
}

.dark .social-icon .bg {
  fill: #fff;
}
