/* Fix for horizontal scroll on mobile */
html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

/* Fix for container overflow */
.container {
  width: 100% !important;
  max-width: 100% !important;
  overflow-x: hidden;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px !important;
  }
}
